<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@user.phone, area_code: true) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @user.position %>
</p>

<p>
  <strong>Salary:</strong>
  <%= number_to_currency(@user.salary, unit: "$", separator: ",", delimiter: ".") %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user.department %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
